@page "/Admin"
@using ARClassLibrary;
@using Models;
@inject ISqlDataAccess sql
@inject IConfiguration config
@inject IJSRuntime JSRuntime

@if (users is not null)
{
    <h2>Eksisterende Brugere</h2>
    <table class="table width: 100%; table-layout: auto; ">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Role</th>
                <th>Picture</th>
                <th>FileName</th>
                <th>UserName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in users)
            {
                <tr>
                    <td>@c.Id</td>
                    <td>@c.FirstName</td>
                    <td>@c.LastName</td>
                    <td>@c.Email</td>
                    <td>@c.Password</td>
                    <td>@c.Role</td>
                    <td>
                        @if (string.IsNullOrWhiteSpace(c.FileName) == false)
                        {
                            var extension = Path.GetExtension(c.FileName);
                            if (extension == ".png" || extension == ".jpg" || extension == ".jpeg")
                            {
                                <img src="@CreateWebPath(c.FileName)" />
                            }
                            else if (extension == ".glb")
                            {
                                var webPath = CreateWebPath(c.FileName);
                                <p>GLB Path: @webPath</p> <!-- Debug output -->
                                <model-viewer src="@webPath" camera-controls style="width: 100%; height: 100%;"></model-viewer>
                            }
                        }
                    </td>
                    <td>@c.FileName</td>
                    <td>@c.UserName</td>
                    <button>Edit user</button>
                </tr>
            }
        </tbody>
    </table>
}

